# Supabase Project Credentials (required)
NEXT_PUBLIC_SUPABASE_URL=https://foqxzmtljzcquwexukom.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZvcXh6bXRsanpjcXV3ZXh1a29tIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODM1ODI1MzAsImV4cCI6MjA5OTE1ODUzMH0.w2uBAvtb4po4JZHEaLihN2I5X75zhCATOx0W4L-qgGQ
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZvcXh6bXRsanpjcXV3ZXh1a29tIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4MzU4MjUzMCwiZXhwIjoyMDk5MTU4NTMwfQ.fWc0_pLWyQ1kkHWBIcvJTSVH9AWDQ2hSXjTO1ngY1Yk
